@model TP8_MVC.Models.Presupuesto

@{
    ViewData["Title"] = "Eliminar Presupuesto";
}

<h1>Eliminar Presupuesto</h1>

<h3>¿Está seguro que desea eliminar este presupuesto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">ID Presupuesto</dt>
        <dd class="col-sm-9">@Model.IdPresupuesto</dd>
        
        <dt class="col-sm-3">Nombre Destinatario</dt>
        <dd class="col-sm-9">@Model.NombreDestinatario</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPresupuesto" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </form>
</div>
